<?xml version="1.0" encoding="utf-8"?>
<UserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <KeyboardShortcuts />
  <HasBeenRun>true</HasBeenRun>
  <FirstRunDate>2026-08-19T12:00:44.9935510-07:00</FirstRunDate>
  <Version>3</Version>
  <FormStates>
    <FormState>
      <Name>ChooseDeviceForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ResolutionForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>PageSizeForm</Name>
      <Location>
        <X>1104</X>
        <Y>316</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>PlaceholdersForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>MacDesktopForm</Name>
      <Location>
        <X>1284</X>
        <Y>40</Y>
      </Location>
      <Size>
        <Width>1268</Width>
        <Height>1391</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>AutoSaveSettingsForm</Name>
      <Location>
        <X>1157</X>
        <Y>317</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EditProfileForm</Name>
      <Location>
        <X>1091</X>
        <Y>251</Y>
      </Location>
      <Size>
        <Width>484</Width>
        <Height>428</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>MacPreviewForm</Name>
      <Location>
        <X>887</X>
        <Y>220</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
  </FormStates>
  <SidebarWidth>328</SidebarWidth>
  <LastCustomResolution>1200</LastCustomResolution>
  <CustomPageSizePresets>
    <NamedPageSize>
      <Name>A6</Name>
      <Dimens>
        <Width>4.134</Width>
        <Height>5.827</Height>
        <Unit>Inch</Unit>
      </Dimens>
    </NamedPageSize>
  </CustomPageSizePresets>
  <BatchSettings />
  <PdfSettings>
    <Metadata />
    <Encryption />
  </PdfSettings>
  <ImageSettings />
  <LastPdfOrImageExt>pdf</LastPdfOrImageExt>
  <BackgroundOperations>
    <String>ScanOperation</String>
  </BackgroundOperations>
</UserConfig>