<?xml version="1.0" encoding="utf-8"?>
<UserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <KeyboardShortcuts />
  <HasBeenRun>true</HasBeenRun>
  <FirstRunDate>2026-08-19T12:00:44.9935510-07:00</FirstRunDate>
  <Version>3</Version>
  <FormStates>
    <FormState>
      <Name>PageSizeForm</Name>
      <Location>
        <X>1104</X>
        <Y>316</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>PlaceholdersForm</Name>
      <Location>
        <X>1232</X>
        <Y>530</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>AutoSaveSettingsForm</Name>
      <Location>
        <X>1157</X>
        <Y>317</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ChooseDeviceForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EditProfileForm</Name>
      <Location>
        <X>-827</X>
        <Y>-231</Y>
      </Location>
      <Size>
        <Width>484</Width>
        <Height>427</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>RotateForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ResolutionForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>MacPreviewForm</Name>
      <Location>
        <X>8</X>
        <Y>16</Y>
      </Location>
      <Size>
        <Width>2544</Width>
        <Height>1340</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>MacDesktopForm</Name>
      <Location>
        <X>1296</X>
        <Y>40</Y>
      </Location>
      <Size>
        <Width>600</Width>
        <Height>1068</Height>
      </Size>
      <Maximized>true</Maximized>
    </FormState>
  </FormStates>
  <SidebarWidth>328</SidebarWidth>
  <LastCustomResolution>150</LastCustomResolution>
  <CustomPageSizePresets>
    <NamedPageSize>
      <Name>A6</Name>
      <Dimens>
        <Width>4.134</Width>
        <Height>5.827</Height>
        <Unit>Inch</Unit>
      </Dimens>
    </NamedPageSize>
  </CustomPageSizePresets>
  <BatchSettings />
  <PdfSettings>
    <Metadata />
    <Encryption />
  </PdfSettings>
  <ImageSettings />
  <LastPdfOrImageExt>pdf</LastPdfOrImageExt>
  <BackgroundOperations>
    <String>ScanOperation</String>
  </BackgroundOperations>
  <ThumbnailSize>907</ThumbnailSize>
</UserConfig>