[user]
    name = Devin Lim
    email = davay@devinl.im
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILBr0MpamPBoVwe/5qIDwes2Z7aAKORlgcqjwy2scgCJ
[pull]
    rebase = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    autocrlf = input
[gpg]
    format = ssh
[includeIf "gitdir:/Users/"]
    path = ~/.gitconfig_mac
[includeIf "gitdir:/home/"]
    path = ~/.gitconfig_linux
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
