[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "Library/Application Support/com.mitchellh.ghostty/ghostty-shaders"]
	path = Library/Application Support/com.mitchellh.ghostty/ghostty-shaders
	url = https://github.com/hackr-sh/ghostty-shaders.git
[submodule "Library/Application Support/FreeCAD/Mod/OpenTheme"]
	path = Library/Application Support/FreeCAD/Mod/OpenTheme
	url = https://github.com/obelisk79/OpenTheme
[submodule "Library/Application Support/FreeCAD/Mod/Channels"]
	path = Library/Application Support/FreeCAD/Mod/Channels
	url = https://github.com/mnesarco/Channels.git
[submodule "Library/Application Support/FreeCAD/v1-1/Mod/Channels"]
	path = Library/Application Support/FreeCAD/v1-1/Mod/Channels
	url = https://github.com/mnesarco/Channels.git
